* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container {
  width: 100%;
}


.logo-container img {
  display: block;
  width: clamp(80px, 50%, 200px);
}

.nav-hamburgermenu-icon {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-radius: 100px;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  padding: 15px;
  width: 100%;
  top: 0;
}

nav .nav-link-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  display: block;
}

.nav-link-container ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

.nav-link-container a {
  color: black;
  text-decoration: none;
}

.active_link {
  border-bottom: 2px solid black;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#home,
#about,
#projects,
#contact {
  background: black;
}

.home-sidebar {
  position: absolute;
  left: 0;
  padding: 10px;
}

.home-sidebar i {
  font-size: 40px;
}

#home > * {
  background-color: White;
}

h1 {
  padding: 10px 35px;
  background-color: white;
  border-radius: 5px 2px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
}

.card {
  background-color: white;
  border-radius: 5px 2px;
}

.card img {
  display: block;
  width: 100%;
}

.links {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
  display: block;
  width: 100%;
  height: 300px;
  background-color: blue;
}


@media (width < 500px) {

  nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .nav-hamburgermenu-icon {
    display: block;
    cursor: pointer;
    margin-right: 30px;
  }

  .nav-hamburgermenu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav-hamburgermenu-icon.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .nav-hamburgermenu-icon.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .nav-link-container {
    position: absolute;
    display: none;
    right: -100%;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    transition: 0.4s ease-in-out;
  }

  .nav-link-container ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-link-container li,
  .nav-link-container a {
    display: block;
    font-size: 1.6rem;
    padding: 5px;
  }

  .nav-link-container.active {
    transition: 0.4s ease-in-out;
    padding: 2rem;
    display: block;
    position: absolute;
    top: clamp(30px, 100%, 90px);
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
  }


}